{% extends 'land/base.html' %}
{% load static %}

{% block right_sidebar %} {% endblock %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'land/js/3dsec.js' %}"></script>
<script>
  _3dsec('{{ url }}');
</script>
{% endblock extra_js %}

{% block extra_css %}
{% endblock extra_css %}

{% block central_content %}
    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
           <div class="container">
              <div id="3dsec">
              </div>
           </div>
        </div>
    </div>  
{% endblock %}