{% extends 'land/base.html' %}
{% load static %}

{% block right_sidebar %} {% endblock %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'land/js/card.js' %}"></script>
<script>
  card('{{STRIPE_PUBLISHABLE_KEY}}', '{{customer_email}}');
</script>
{% endblock extra_js %}

{% block extra_css %}
{% endblock extra_css %}

{% block central_content %}
    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
           <div class="container">
            <form action="{% url 'card' %}" method="post" id="payment-form">
              {% csrf_token %}
              <div id="card-element">
                <!-- Elements will create input elements here -->
              </div>
              <!-- We'll put the error messages in this element -->
              <div id="card-errors" role="alert"></div>
              <input type="hidden" name="payment_intent_id" value="{{ payment_intent_id }}" >
              <input type="hidden" name="stripe_plan_id" value="{{ stripe_plan_id }}" >
              <input type="hidden" name="automatic" value="{{ automatic }}" >

              <button id="submit-button">Pay</button>
            </form>
           </div>
        </div>
    </div>  
{% endblock %}