{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{% static 'land/js/index.js' %}" ></script>
    <link rel="stylesheet" href= "{% static 'land/css/index.css' %}" />


    <title>Video Store</title>
  </head>
  <body>
    <!-- Navigation bar BEGIN-->
    {% include 'land/nav.html' %}
    <!-- Navigation bar END -->

     <main role="main" class="container">
        {% block central_content %}
        {% endblock central_content %}
     </main><!-- /.container -->
     <footer>
        <div class="container">
            <div class="col-lg-12 col-md-12">
                    <ul class="list-unstyled  d-flex flex-row">
                    </ul>
            </div>
        </div>
    </footer>

  </body>
</html>